.errors {
  width: 1000px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ff9999;
}
label, input, .result {
  float: left;
  display: block;
  margin-bottom: 15px;
}
label {
  width: 250px;
  float: left;
}
input {
  text-align: right;
}
.result {
  font-weight: bold;
  margin-left: 10px;
}
.submit-button {
  margin-top: 20px;
  padding: 5px 15px;
  font-size: 1em;
}
.clear {
  clear: both;
}
.clear:after {
  clear: both;
  content: "";
  display: block;
}